---
import Layout from '../layouts/Layout.astro';
import Hero from '@components/index/Hero.astro'
import Bento from '@components/index/Bento.astro'
import About from '@components/index/About.astro'
---

<Layout title="Bienvenido a nuestra web" class="bg-black">
  hola hola
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad est quia optio impedit cumque at inventore. Dolorum, at commodi. Magnam assumenda molestiae iste perspiciatis quas neque facere unde recusandae natus.</p>
  <Hero></Hero>
  <Bento></Bento>
  <About></About>
</Layout>

