<header class="w-full flex justify-center gap-4 items-center p-8">
    <a href="/"
       class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">
      Inicio</a>

    <img src="https://www.svgrepo.com/show/491978/gas-costs.svg" height="40" width="40" />

    <a href="/carta"
       class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">
      Carta</a>
</header>
